/* VARIABLES DE COLOR */
:root {
    --gris-claro: #c0c0c0;
    --amarillo: #eeb906;
    --gris-oscuro: #4e5b64;
    --azul-gris: #47606f;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', Arial, sans-serif;
    line-height: 1.5;
    background-color: var(--gris-claro);
    color: var(--gris-oscuro);

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {
    flex: 1;
}
a {
    text-decoration: none;
    color: inherit;
}

hr {
    border: none;
    height: 2px;
    background-color: var(--azul-gris);
}

.btn {
    display: inline-block;
    background-color: var(--gris-oscuro);
    color: white;
    border: none;

    padding: 6px 20px;
    cursor: pointer;
    transition: 0.2s;
    text-align: center;
}

.btn:hover {
    background-color: var(--amarillo);
    color: black;
}


.navbar {
    background-color: var(--gris-oscuro);
    border-bottom: 3px solid var(--amarillo);
    padding: 10px 20px;
}
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 1200px;
    margin: 0 auto;
}
.nav-logo a {
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;

}

.testimonio {
    width: 30vw;
    height: auto;
}

.nav-menu {
    list-style: none;
    display: flex;
    gap: 10px;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    /* evita que se rompa en pantallas chicas */
}

.nav-menu li a {
    color: white;
    padding: 5px 10px;
    transition: 0.2s;
    white-space: nowrap;
    font-size: 14px;
    /* evita salto de línea */
}

.nav-menu li a:hover {
    background-color: var(--amarillo);
    color: black;
}


footer {
    text-align: center;
    padding: 5px;
    background-color: var(--gris-oscuro);
    color: white;
    border-top: 3px solid var(--amarillo);
}

table,
thead,
td,
th {
    border: 1px solid black;
    width: 800px;
    margin: auto
}

footer a {
    color: var(--amarillo);
}

.center {
    text-align: center;

}

figure {
    background-color: white;
    text-align: center;
    border: 1px solid black;
}

.bloque {
    border-bottom: 2px solid var(--gris-oscuro);
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.unalinea {
    display: block;
    margin: 15px auto;
    width: fit-content;
}


