/* VARIABLES DE COLOR */
:root {
    --gris-claro: #c0c0c0;
    --amarillo: #eeb906;
    --gris-oscuro: #4e5b64;
    --azul-gris: #47606f;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', Arial, sans-serif;
    line-height: 1.5;
    background-color: var(--gris-claro);
    color: var(--gris-oscuro);

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

a {
    text-decoration: none;
    color: inherit;
}

hr {
    border: none;
    height: 0.2vw;
    background-color: var(--azul-gris);
}

.btn {
    display: inline-block;
    background-color: var(--gris-oscuro);
    color: white;
    border: none;

    padding: 0.6vw 2vw;
    cursor: pointer;
    transition: 0.2s;
    text-align: center;
}

.boton-subir {
    position: fixed;
    z-index: 1;
    bottom: 20px;
    right: 20px;

}

.boton-subir img {
    width: 5vw;
}

.boton-subir:hover {
    filter: invert(1);
    /*filter se usa para invertir los colores de la imagen, ya que no se logro cambiar a otra imagen con colores deseados*/
    transition: 0.2s;
}

.btn:hover {
    background-color: var(--amarillo);
    color: black;
}

.letra-adaptable {
    font-size: max(2vw, 4vh);
    /*la función max es para asegurar que el texto sea legible en diferentes tamaños de pantalla,
    sin importar que sea horizontal o vertical. Al variar el tamaño de la ventana, agarra el valor mas grande con respecto a la ventana.
    La medida de la altura es el doble de la medida del ancho porque usualmente las pantallas de ordenador son mas anchas que altas.*/
}

.ajustar-td {
    width: 40vw;
}

.navbar {
    background-color: var(--gris-oscuro);
    border-bottom: 0.3vw solid var(--amarillo);
    padding: 1vw 1vw;
}

.nav-container {
    position: relative;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    max-width: 120vw;
    margin: 0 auto;
}

.nav-logo a {
    font-size: 1.5vw;
    font-weight: bold;
    color: white;
}

.flex-container {
    display: flex;
    justify-content: space-between;

    width: 90vw;
    margin: 1vw auto;
    padding: 3vw;

    box-sizing: border-box;
    gap: 2vw;
}

.testimonio {
    width: 25vw;
}

.nav-menu {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    list-style: none;
    display: flex;
    gap: 1vw;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}

.nav-menu li a {
    color: white;
    padding: 0.5vw 1vw;
    transition: 0.2s;
    white-space: nowrap;
    font-size: 0.9vw;
    /* evita salto de línea */
}

.nav-menu li a:hover {
    background-color: var(--amarillo);
    color: black;
}


footer {
    text-align: center;
    padding: 0.5vw;
    background-color: var(--gris-oscuro);
    color: white;
    border-top: 0.3vw solid var(--amarillo);
}

table,
thead,
td,
th {
    border: 0.1vw solid black;
    width: 80vw;
    margin: auto
}

footer a {
    color: var(--amarillo);
}

.center {
    text-align: center;

}

figure {
    background-color: white;
    text-align: center;
    border: 0.1vw solid black;
}

.bloque {
    width: 80vw;
    padding: 3vw;
    margin: 2vw auto;
    box-sizing: content-box;


}

.unalinea {
    display: block;
    margin: 1.5vw auto;
    width: fit-content;
}


@media screen and (max-width: 480px) {

    body {
        font-size: 14px;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    table {
        display: block;
        overflow-x: auto;
    }

    .contenedor {
        flex-direction: column;
    }

    .flex-container {
        flex-direction: column;
        align-items: center;
        
    }
    .testimonio {
        width: 70vw;
    }
    
}