header {
    background-color: white;
    border-bottom: 2px solid var(--azul-gris);
    padding: 20px;
    text-align: center;
}
img {
    height: 180px;
}

.foto {
    height: 200px;
}
article {
    margin-bottom: 20px;
}
.underline {
    text-decoration: underline;
}
figure {
    padding: 15px;
    border: 1px solid black; 
}
figure cite {
    display: block;
    margin-top: 10px;
    font-style: italic;
}
.table {
    width: 800px; margin: auto;
}
footer {
    padding: 10px; text-align: center;
}
section article figure cite {
    inline-size: auto;
}



