header {
    background-color: white;
    border-bottom: 2px solid var(--azul-gris);
    padding: 20px;
    text-align: center;
}
img {
    width: 180px;
}

.foto {
    width: 10vw;
}

.logo {
    width: 10vw;
}

article {
    margin-bottom: 20px;
}
.underline {
    text-decoration: underline;
}
figure {
    padding: 15px;
    border: 1px solid black;
    margin: 10px
}
figure cite {
    display: block;
    margin-top: 10px;
    font-style: italic;
}
.table {
    width: 800px; margin: auto;
}
footer {
    padding: 10px; text-align: center;
}
section article figure cite {
    inline-size: auto;
}

blockquote {
    margin:10px 0;
}

.productos-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 20px;
}

.productos-container article {
    max-width: 800px;
    text-align: center;
}

.productos {
    width: 600px;
    height: auto;
}

.bloque h1 {
    text-align: center;
}
