header {
    background-color: white;
    border-bottom: 0.2vw solid var(--azul-gris);
    padding: 2vw;
    text-align: center;
}

img {
    width: 18vw;
}

.foto {
    width: 10vw;
}

.logo {
    width: 10vw;
}

article {
    margin-bottom: 2vw;
}

.underline {
    text-decoration: underline;
}

figure {
    padding: 1.5vw;
    border: 0.1vw solid black;
    margin: 1vw
}

figure cite {
    display: block;
    margin-top: 1vw;
    font-style: italic;
}

.table {
    width: 80vw;
    margin: auto;
}

footer {
    padding: 1vw;
    text-align: center;
}

section article figure cite {
    inline-size: auto;
}

blockquote {
    margin: 1vw 0;
}

.productos-container {
    display: flex;
    justify-content: center;
    gap: 3vw;
    padding: 2vw;
}

.productos-container article {
    max-width: 30vw;
    text-align: center;
}

.productos {
    width: 25vw;
    height: auto;
}

.bloque h1 {
    text-align: center;
}

@media screen and (max-width: 480px) {

    .foto {
        width: 25vw;
    }

    .productos-container {
        flex-direction: column;
        align-items: center;
    }

    .productos-container article {
        max-width: 90vw;
    }

    .productos {
        width: 100vw;
    }

    .bloque table {
        width: 80vw;
    }
}