html,
body {
    height: 100%;
   
}

body {
    flex-direction: column;
    min-height: 100vh;

}

input.campo{
    width: 20vw;
    height: 5vh;
}

.centro-pagina {
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.tarjeta {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff ;
    border: 0.1vw solid black;
    padding: 4.5vw;
    padding-bottom: 2.4vw;
   
   
    
}

@media screen and (max-width: 480px) {
    .tarjeta {
        width: 70vw;
    }
    
}