/* VARIABLES DE COLOR */
:root {
    --gris-claro: #c0c0c0;
    --amarillo: #eeb906;
    --gris-oscuro: #4e5b64;
    --azul-gris: #47606f;
}

/* RESET BÁSICO MAS TIPOGRAFIA E INTERLINEADO*/
body {
    margin: 0;
    padding: 0;

    font-family: 'Poppins', Arial, sans-serif;

    line-height: 1.5;

    background-color: var(--gris-claro);
    color: var(--gris-oscuro);
}

/* LINKS GENERALES */
a {
    text-decoration: none;
    color: inherit;
}

/* SEPARADORES */
hr {
    border: none;
    height: 2px;
    background-color: var(--azul-gris);
}

/* BOTONES GENERALES */
.btn {
    display: inline-block;
    background-color: var(--gris-oscuro);
    color: white;
    border: none;
    padding: 6px 20px;
    cursor: pointer;
    transition: 0.2s;
    text-align: center;
}

.btn:hover {
    background-color: var(--amarillo);
    color: black;
}

/* NAVBAR */
.navbar {
    background-color: var(--gris-oscuro);
    border-bottom: 3px solid var(--amarillo);
    padding: 10px 20px;
}

/* CONTENEDOR NAV */
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    max-width: 1200px;
    margin: 0 auto;
}

/* LOGO */
.nav-logo a {
    font-size: 20px;
    font-weight: bold;
    color: white;
}

/* MENÚ */
.nav-menu {
    list-style: none;
    display: flex;
    gap: 10px;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
    /* evita que se rompa en pantallas chicas */
}

/* LINKS NAV */
.nav-menu li a {
    color: white;
    padding: 5px 10px;
    transition: 0.2s;
    white-space: nowrap;
    font-size: 14px;
    /* evita salto de línea */
}

/* HOVER NAV */
.nav-menu li a:hover {
    background-color: var(--amarillo);
    color: black;
}

/* HEADER GENERAL */
header {
    background-color: white;
    border-bottom: 2px solid var(--azul-gris);
    padding: 20px;
    text-align: center;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    background-color: var(--gris-oscuro);
    color: white;
    border-top: 3px solid var(--amarillo);
}

/* LINKS EN FOOTER */
footer a {
    color: var(--amarillo);
}

/* UTILIDAD */
.center {
    text-align: center;
    
}

