
img {
    height: 180px;
}

.foto {
    height: 200px;
}


.container {
    margin: 2px solid black;
}

.underline {
    text-decoration: underline;
}

.table {
    width: 800px; margin: auto;
}
footer {
    padding: 10px; text-align: center;
}
