



    

        /* Títulos */
        h1,
        h2,
        h3 {
            text-align: center;
        }

        span.obligatorio {
            color: red;

        }
        /* Botones */
        button {

            background-color: white;
            color: black;
            border: 2px solid black;
            padding: 5px 15px;
            cursor: pointer;
            transition: 0.2s;
        }

        button:hover {
            background-color: black;
            color: white;
        }

        /* Footer */
        footer {
            text-align: center;
            padding: 20px;
            border-top: 2px solid black;
            margin-top: 40px;
        }

        label {
            display: block;
            /* hace que quede arriba */
            margin-bottom: 5px;
            padding: 5px;
        }

        input, textarea, select {
            width: 30%;
            padding: 8px;
            border-radius: 5px;
            border: 1px solid #aaa;
        }

        div.enmarcado {
    border: 1px solid black;
    margin: 0 30%;
}